<form action="/artist/add" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="bio">Bio:</label><br>
    <textarea id="bio" name="bio" rows="4" cols="50" required></textarea><br>

    <label for="country">Country:</label>
    <input type="text" id="country" name="country" required><br>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" required><br>

    <label for="img">Upload logo: </label>
    <input type="file" id="logo" name="logo" accept="image/*"><br>


    <input type="submit" value="Add Artist">
</form>
