<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Rater</title>
</head>
<body>
    <a href="/"><h1>MusicManiac</h1></a>


    <header>
        <a href="/add">Add a new release<a> 
        <a href="/login">Login<a>

    </header>

	<%= yield %>
</body>
</html>
