  <div class="form-container">
    <form action="/register" method="post">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required><br>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required><br>

          <label for="confirm_password">Confirm password:</label>
          <input type="password" id="confirm_password" name="confirm_password" required><br>

          <label for="role">Select your role:</label>
          
          <div>
            <input type="radio" id="user" name="role" value="user" required>
            <label for="user">User</label>
          </div>

          <div>
            <input type="radio" id="admin" name="role" value="admin" required>
            <label for="admin">Admin</label>
          </div>

          <br>

          <button type="submit">Register</button>

          <br>
          <%= error_message %>

    </form>
</div>